table {
    border: 3px outset green;
    border-radius: 10px;
}

p{
    text-decoration: underline;

}
section{
    border: 3px outset green;
    margin: 20px;
    background-color: greenyellow;
    padding-left: 30px;
}

div{
    padding: 0px;
    margin: 0%;
}
img{
    padding: 0%;
}

#pur{
    position: relative;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 200px;
    background-color: grey;
    border: 2px white;
}

#orange{
    top: 7px;
    left: 7px;
    height: 70px;
    width: 70px;
    background-color: orange;
    border: 1px blue;
    position: absolute;
}

#blue{
    top: 5px;
    left: 5px;
    height: 70px;
    width: 70px;
    background-color: lightblue;
    border: 1px lightblue;
    position: absolute;
}
tr{
    color: red;
    border: 2px red;
}